services:
  caddy:
    image: caddy:2.11.2@sha256:31cac30871bed873ab95ba89b3c9b4440224c8dafeec1a527ef8c7eafc07a1a3
    container_name: caddy
    build: .
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      # - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
