version: "3"

networks:
  gitea:
    external: true

services:
  server:
    image: docker.gitea.com/gitea:1
    container_name: gitea
    restart: unless-stopped
    networks:
      - gitea
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
