services:
  watchtower:
    image: nickfedor/watchtower:1
    container_name: watchtower
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock